global
    log stdout local0

defaults
    mode tcp
    timeout connect 10s
    timeout client 5m
    timeout server 5m
    option tcplog

frontend pg_rw
    bind *:5433
    default_backend pg_rw

frontend pg_ro
    bind *:5434
    default_backend pg_ro

backend pg_rw
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 2 rise 1 on-marked-down shutdown-sessions
    server patroni1 10.100.0.1:15432 check port 18008
    server patroni2 10.100.0.1:15433 check port 18009
    server patroni3 10.100.0.1:15434 check port 18010
    server patroni4 10.100.0.2:15432 check port 18008
    server patroni5 10.100.0.2:15433 check port 18009
    server patroni6 10.100.0.2:15434 check port 18010
    server patroni7 10.100.0.3:15432 check port 18008
    server patroni8 10.100.0.3:15433 check port 18009
    server patroni9 10.100.0.3:15434 check port 18010

backend pg_ro
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 2s fall 2 rise 1 on-marked-down shutdown-sessions
    server patroni1 10.100.0.1:15432 check port 18008
    server patroni2 10.100.0.1:15433 check port 18009
    server patroni3 10.100.0.1:15434 check port 18010
    server patroni4 10.100.0.2:15432 check port 18008
    server patroni5 10.100.0.2:15433 check port 18009
    server patroni6 10.100.0.2:15434 check port 18010
    server patroni7 10.100.0.3:15432 check port 18008
    server patroni8 10.100.0.3:15433 check port 18009
    server patroni9 10.100.0.3:15434 check port 18010

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
